<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/my.css">
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12"><h3 class="main_header">HEADER</h3></div>
			<div class="col-md-12"><ul class="list-inline">
				<li><a href="index.html">Главная</a></li>
				<li><a href="video_content.html">Видеоклипы</a></li>
				<li><a href="photo_content.html"></a></li>
				<li><a href="about_ATL.html">О группе</a></li>
				<li><a href="Tours.html">Концерты</a></li>
				<li><a href="Fan_art.html">Фан арт</a></li>
				<li><a href="Social_networks.html">Социальные сети</a></li>
				<li><a href="Contacts.html">Контакты</a></li>
			</ul></div>
			</div>
				<div class="row">
					<div class="col-md-12">
						<article><h4>Новости</h4>
							<div class="row">
								<div class="col-md-8">
									<div class="content_news">
										<img src="https://pp.vk.me/c636426/v636426430/2d3d1/T84H8dBiMxo.jpg" alt="ATL" class="content_news_photos"></div>
									
									<div class="content_news">
										<p>#ACIDHOUZEONTOUR
											<br>Пополнение в списке городов! 

											<br>09 октября - КАЛИНИНГРАД!
											https://vk.com/atl_yalta
											Билеты в продаже с 09 сентября! 

											<br>Организация концертов 
											+7(926)238 48 16 
											alexandrov.pasha@gmail.com
										</p>
										<p>#ACIDHOUZEONTOUR
											<br>Пополнение в списке городов! 

											<br>09 октября - КАЛИНИНГРАД!
											https://vk.com/atl_yalta
											Билеты в продаже с 09 сентября! 

											<br>Организация концертов 
											+7(926)238 48 16 
											alexandrov.pasha@gmail.com
										</p>
										<img src="https://pp.vk.me/c637920/v637920886/9658/IxI0vZan8zU.jpg" alt="ATL" class="content_news_photos"></div>
									
									<div class="content_news">
										<img src="https://pp.vk.me/c636426/v636426430/2d3d1/T84H8dBiMxo.jpg" alt="ATL" class="content_news_photos"></div>
								</div>	



								<div class="col-md-4">
									<div class="item_right">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/lT-QfW92E5k" frameborder="0" allowfullscreen class="video_right"></iframe>
									</div>

									<div class="item_right">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/EJimkyKPolk" frameborder="0" allowfullscreen class="video_right"></iframe>
									</div>	

									<div class="item_right">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/zS5zWAfvQHo" frameborder="0" allowfullscreen class="video_right"></iframe>
									</div>

									<div class="item_right">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/-F7I_Y2d2TU" frameborder="0" allowfullscreen class="video_right"></iframe>
									</div>	

									<div class="item_right">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/H2H-ZGPTR7g" frameborder="0" allowfullscreen class="video_right"></iframe>
									</div>	

									<div class="item_right">
										<iframe width="560" height="315" src="https://www.youtube.com/embed/697MtjyWSKo" frameborder="0" allowfullscreen class="video_right"></iframe>
									</div>			
								</div>
							</div>
							
						</article>
					</div>
				</div>
				
	</div>
	</div>
</body>
<footer></footer>
</html>